div.idTabs{
	padding:5px 0px 6px 0px;
	border-bottom:1px solid #000000;
	position:relative;
	z-index:100;
}
div.idTabs span a{
	padding:5px;
	border-radius:4px 4px 4px 4px;
	border:1px solid #a9abae;
	text-decoration:none;
	color:#000000;
}
div.idTabs span a:hover{
	text-decoration:none;
	color:#000000;
}
div.idTabs span a.selected{
	padding-bottom:7px;
	border-radius:4px 4px 0 0;
	border:1px solid #000000;
	border-bottom:none;
	position:relative;
	z-index:101;
	background:#a9abae;
	color:#ffffff;
}
div.idTabs span a.selected:hover{
	text-decoration:none;
	color:#ffffff;
}

table.adminform tr.row0,
table.adminlist tr.row0{
	background:#F2F2F2;
}
table.adminform tr.row1,
table.adminlist tr.row1{
	background:#FFFFFF;
}
table.adminlist{
	width:100%;
}
table.adminlist th{
	font-weight:bold;
	border-bottom:1px solid #000000;
}


/*-----------------Vehicle list Listing div main ---------------------*/

#auto_vehiclelistwraper{
	position: relative;
	float:left;
	width: 99.7%;
	border:solid #A9ABAE;
	border-width:1px;
	margin-bottom: 5px;
	min-width: 400px;
	background:#ffffff;
}
div#auto_datawraper{
	width:97%;
	padding:1.5%;
	float:left;
	display:table;
	position:relative;
}
div#auto_gold_tag{
	position:absolute;
	left:0;
	top:0;
	height:45px;
	width:45px;
	background:url(../../../images/gold_tag.png) no-repeat top left;
	z-index:100;
}
div#auto_featured_tag{
	position:absolute;
	left:0;
	top:0;
	height:45px;
	width:45px;
	background:url(../../../images/featured_tag.png) no-repeat top left;
	z-index:100;
}
#auto_image {
	width:120px;
	position:relative;
}
#auto_image img{
	border-radius:4px;
	border:3px solid #A8A8A8;
	border-radius:4px;
}
div#auto_image img.soldimage{
	position:absolute;
	top:0;
	right:14px;
	border:none;
}

div#auto_data{
	display:table-cell;
	vertical-align:top;
	width:100%;
}
#auto_maintitle {
	float:left;
	width:96%;
	padding:3px 2%;
	background:url(../images/vehicle_title_background.png);
	background-size:100% 100%;
	border-bottom:2px solid #a9abae;
}
div#auto_maintitle.auto_detail_maintitle{
	border-bottom:none;
	position:relative;
}
div#auto_detail_maintitleshadow{
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	height:20px;
	background:url(../images/auto_detail_maintitleshadow.png);
	background-size:100% 100%;
}
#auto_maintitle_text{
	color: #29578F;
	font-size: large;
	font-weight: bold;
}

#auto_maintitle #auto_maintitle_title a:link{
    text-decoration: none;
}
#auto_maintitle #auto_maintitle_title a:hover{
    background: none repeat scroll 0 0 darkgray;
}
#auto_maintitle #auto_maintitle_title a:visted{
    background: none repeat scroll 0 0 #F9F9F9;
}


#auto_maintitle_price {
    float: right;
    color: #29578F;
    font-size: large;
}

#auto_information_info {
	position: relative;
	float: left;
	width: 48%;
	background:url(../images/listing_vbar.png) top left no-repeat;    
	background-size: 1px 100%;
	text-align: left;
	font-size:11px;
	padding-left: 2%;
}
span#auto_information_rating{
	text-align:center;
	width: 100%;
	display:block;
	float:left;
	padding:5px 0px;
}
span.auto_writereview {
    font-size:11px;
}
div#review {
	width:100%;
	float:right;
}
div#auto_location {
	width:100%;
	float:left;
	background:url(../images/listing_hbar.png) top right no-repeat;
	background-size:100% 1px;
	padding-top:8px;
}
.theme_data_text_color {
	color: #29578F;
}
.auto_dateposted{
	float:right;
	font-size:10px;
}
/* -------------------------------------------------- */
/*---------------------Vehicle listing Detail----------------*/
div#auto_detailvehiclewraper{
	float:left;
	width:100%;
	background:url(../images/listing_background_shadow.png);
	background-size:100% 100%;
}
#detail_wraper{
	padding:1%;
	width:98%;
	float:left;
}
div#auto_detail_table{
	width:100%;
	display:table;
}
div#auto_information {
	display:table-cell;
	float: left;
	width: 100%;
}
div#auto_detail{
	width:40%;
	float:left;
	position:relative;
}
#auto_thumbs { /*vehicle detail thumbs div*/
	position: relative;
	float: left;
	background:none;
	width:98.5%;
	padding-left:1.5%
}
div#auto_thumbs img{
	border:2px solid #A8A8A8;
	border-radius:4px;
}
#auto_thumbsetting {
    float: left;
    padding: 1px;
}
#auto_thumbs #auto_thumbsetting a:link{
    text-decoration: none;


}
#auto_thumbs #auto_thumbsetting  a:hover{
    background: none repeat scroll 0 0 #FFFFFF;
    text-decoration: none;
}
#auto_detail_rating {
    position: relative;
    float: left;
    width: 59%;
    font-size:11px;
    border-left: 1px solid #A9ABAE;    
}
div#auto_detail_rating_portion{
	width:50%;
	float:left;
}
span.auto_detail_reviewheading {
	padding: 0 0 0 5%;
	width:30%;
	display:inline-block;
	min-width:64px;
}
span.auto_detail_overallreviewheading{
	font-size:20px;
	text-align:center;
	display:inline-block;
	vertical-align:bottom;
	margin-right:10px;
}
div#auto_detaillocation{
/*	background:url(../images/listing_hbar.png) top right no-repeat;
	background-size:100% 1px;*/
	padding-top:5px;
	float:left;
	width:100%;
	margin-top:5px;
}
span#auto_detail_dateposted{
	float:right;
	font-size:10px;
}
span#auto_detail_text{
	font-weight:bold;
	width:30%;
}
span#auto_detail_value{
	width:70%;
}
div#auto_detail_overall_rating{
	text-align:center;
	background:url(../images/listing_hbar.png) bottom right no-repeat;
	background-size:100% 1px;
	margin-bottom:5px;
}
div#auto_detail_bottom_row{
	width:100%;
	float:left;
	position:relative;
}

#auto_vdtabs-overview a:hover,#auto_vdtabs-overview a:active,#auto_vdtabs-overview a:focus{
    background: none repeat scroll 0 0 #FFFFFF;
}
#auto_vdtabs-specification a:hover, #auto_vdtabs-specification a:active,#auto_vdtabs-specification a:focus{
    background: none repeat scroll 0 0 #FFFFFF;
}
#auto_vdtabs-gallery a:hover,#auto_vdtabs-gallery a:active,#auto_vdtabs-gallery a:focus{
    background: none repeat scroll 0 0 #FFFFFF;
}
#auto_vdtabs-review a:hover,#auto_vdtabs-review a:active,#auto_vdtabs-review a:focus{
    background: none repeat scroll 0 0 #FFFFFF;
}
#auto_vdtabs {          /*vehicle detail specification tab div*/
	position: relative;
	float: right;
	width: 100%;
}
#auto_vdtabs span ul li  a { /*vehicle detail tab a css*/
    display: block;
    font-weight: bold;
    padding: 6px 9px;
    text-decoration: none;
    background-image: url("../images/icon_background.png");
    background-size: 100% 100%;
}
#auto_vdtabs span ul li.rightborder{
	border-right:1px solid #000000;
}
#auto_vdtabs span ul li.leftborder{
	border-left:1px solid #000000;
}
#auto_vdtabs span ul li { /*vehicle detail tab li css*/
	margin:0px;
    border: medium none;
    color: white;
    font-size: 11px;
    text-decoration: none;
    display: block;
    float: left;
    padding: 0px;
}
#auto_vdtabs  ul li a span {
        color: #000000;
	text-shadow:0px .5px 3px #FFFFFF;
}
#auto_vdtabs  ul li a:hover span {
        color: #000000;
	text-shadow:0px .5px 3px #FFFFFF;
}
#auto_vdtabs  ul li a.youarehere span {
        color: #000000;
	text-shadow:0px .5px 3px #FFFFFF;
}
#auto_vdtabs span span {
        color: #000000;
	text-shadow:0px .5px 3px #FFFFFF;
}
#auto_vdtabs  ul li a.youarehere {
	background-image: url("../images/icon_background_hover.png");
	background-size: 100% 100%;
	color:#ffffff;
}
#auto_vdtabs  ul li a:hover {
	background-image: url("../images/icon_background_hover.png");
	background-size: 100% 100%;
	color:#ffffff;
}
#auto_vdtabs  ul li a:link {
}
#auto_vdtabs span ul { /*vehicle detail tab li css*/
	display: block;
	margin:0;
	padding:0;
}
div#auto_detail_feature_icon{
	background:url(../images/icons_background.png);
	background-size:100% 100%;
	float:right;
}
#send_message{
}
div#send_message a img.auto_detail_featur_icon_img{
	margin:0 4px;
	padding:0;
	border:none;
}
#auto_vdtabs  ul li{
	background:none;
}
#tell_a_friend{
}
/*---------Overview--------------*/
div#automaindiv{
	float:left;
	width:100%;
}
div.even.auto_vsmain,div.odd.auto_vsmain,tr.even,tr.odd{
	background:url(../images/listrowg_odd.png);
	background-size:100% 100%;
	float:left;
	width:100%;
	border-top:1px solid #a9abae;
}
div.odd.auto_vsmain,tr.odd{
	background:url(../images/listrowg_odd.png);
	background-size:100% 100%;
}
tr.odd,tr.even{
    float:none;
    margin-bottom: 5px;
}
tr.odd td, tr.even td{
    padding:0 !important;
}
span.auto_vsheading{
	width:49%;
	padding-left:1%;
	font-weight:bold;
	float:left;
}
span.auto_vsdata{
	width:50%;
	float:left;
}
div#sub_heading,td.sectionheadline,tr.subheadline{
	font-weight:bold;
	font-size:15px;
	background:url(../images/sub_heading.png);
	background-size:100% 100%;
	width:100%;
	color:#000000;
	text-shadow:0px 2px 2px #ffffff; 
	float:left;
	text-align:center;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
}
div#sub_heading.dealer_info{
    float:left;
}
tr.subheadline{
    font-size: 12px;
	float:none;
}
div#leftalign.section_heading{
	text-align:left;
	padding-left:1%;
	width:99%;
}

div.section_heading{
	font-weight:bold;
	font-size:12px;
	background:url(../images/section_heading.png);
	background-size:100% 100%;
	text-align:center;
	width:100%;
	color:#000000;
	float:left;
	border-bottom:1px solid #858585;
}
td.sectionheadline{
    float:none;
}
/*----------Review----------------*/
div#errormessage{
	float: left;
	width:100%;
	color: red;
}
div#auto_detail_review.even, div#auto_detail_review.odd{
	width:96.5%;
	display:block;
	background:#ffffff;
	background-size:100% 100%;
	float:left;
	border:solid #a9abae;
	border-width:.5%;
	margin-top:5px;
	padding:1.5%;
}
div#auto_detail_review.odd{
	background:#ffffff;
}
div#rating_title_bar{
	width:100%;
	float:left;
}

span#auto_detail_review_title{
	display:inline-block;
	font-size:18px;
	font-weight:bold;
	float:left;
}
span#review_overallrating{
	display:block;
	margin-bottom:10px;
	width:100%;
}
span.auto_reviewheading_title{
	display: inline-block;
	line-height: 22px;
	margin-right: 10px;
	vertical-align: text-bottom;	
	font-size:18px;
	font-weight:bold;
}
div.auto_vehicle_reviewinfo{
	display:table-cell;
	width:100%;
	vertical-align:top;
}
div.auto_vehicle_reviewrate{
	display:inline-block;
	float:right;
	min-width:255px;
}
div#review_data{
	display:table;
	float:left;
	width:100%;
}
span#auto_vehicle_review_pros_cons,span#auto_vehicle_review_pros_cons.title{
	display:block;
	width:100%;
	float:left;
}
span#auto_vehicle_review_pros_cons.title{
	font-weight:bold;
}
span#nobackground.auto_reviewheading{
	background:none;
}
span.auto_reviewheading{
	display:inline-block;
	font-weight:bold;
	background:url(../images/rating_background.png) no-repeat top left;
	background-size:100% 100%;
	padding-right:5%;
	width:40%;
	line-height:20px;
	padding-left:5px;
}
div[rel="small-star"]{
	float:right;
	display:inline-block;
	padding-right:5px;
}
div#small-rating-background{
	float:left;
	width:100%;
	background:url(../images/rating_background_line.png) bottom left no-repeat;
	background-size:100% 2px;
	margin-bottom:5px;
}
div.auto_vehicle_review{
	width:100%;
	float:left;
}
span#review_heading{
	float:left;
	font-weight:bold;
	margin-right:5px;
}
div#review_bottom{
	float:left;
	width:100%;
}
span#reviewed_date{
	float:right;
	font-weight:bold;
	font-size:10px;
}
span.reivew_by{
	font-size:12px;
	margin-left:5px;
	font-weight:bold;
	display:inline-block;
	line-height:23px;
	vertical-align:text-bottom;
}
/*
{
	display:inline-block;
	width:100%;
}
span#review{
	width:100%;
	text-align:center;
	display:inline-block;
}

/*-----------------Gallery-------------------*/
div#auto_gallerythumbs{
	float:left;
	width:99.5%;
	border:solid #a9abae;
	border-width:.5%;
	background:url(../images/listing_background.png);
	background-size:100% 100%;
	border-top:none;
}
div#auto_gallerythumbssetting{
	float:left;
	margin: 3px 5px 0px;
}
div#auto_gallerythumbssetting img{
	border:3px solid #A8A8A8;
	border-radius:4px;
}
/*--------------------Dealer-------------------*/
div.allvehicledealer{
	float:right;
	margin: 5px 2px;
}
/*-------------------------------------------------------*/
/*------------------Short List Vehicle------*/
div#rating{
    float:left;
    width:97%;
    padding:0 1.5%;
    padding-bottom: 1.5%;
}
span#auto_shortlist_link{
    float:right;
}
span.noleftpadding{
    padding-left: 0;
    float:left;
    width:auto;
}
/*-----------------------------------------*/
table{
    clear:both !important;
}
div.odd,div.even{
    float:left;
    width:100%;
}
div#tabsshadow{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width:100%;
    height:10px;
    background: url(../images/tabsshadow.png);
    background-size: 100% 100%;
}

div#auto_detail_review{
    width:96.8%;
    float:left;
    padding: 1.5%;
    border:1px solid #a9abae;
    margin: 5px 0px;
}
/*--------------Write Reivew----------------*/
div.auto_writereivew_right{
	width:49%;
	float:left;
}
div#auto_writereivew_left{
	float:left;
	width:49%;
}
div.auto_reviewbutton{
	width:100%;
	float:left;
	text-align:left;
}
span#auto_writereviewtitle,span#auto_writereviewtitletext{
	display:block;
	text-align:right;
	width:216px;
}
span#auto_writereviewtitletext{
	width:200%;
}

span#auto_writereviewtitle strong,span#auto_writereviewtitletext strong{
	float:left;
}
span#auto_writereviewmaxchar{
	width:216px;
	display:block;
	text-align:right;
}
span#review_savemsg{
	display:block;
	width:100%;
	padding:5px;
	text-align:left;
}
span#vehicle_title{
	font-size:20px;
}
div.auto_reviewtitle{
	width:99.8%;
	float:left;
	border:1px solid #000000;
}
div#review_status{
	width:100%;
	float:left;
	text-align:center;
}
/*------------------------------------------*/
/*------------Review-----------------------*/
div#review_wrap{
	width:96%;
	float:left;
	background:url(../images/review_background.png);
	background-size:100% 100%;
	text-align:left;
	padding:2%;
	height:60px;
	position:relative;
}
div#review_wrap.extra_height{
	height:80px;
}
div#review_wrap a#button,div#review_wrap a#button:hover{
	padding:4px 8px 8px 8px;
	background:url(../images/review_button.png);
	background-size:100% 100%;
	margin-bottom:15px;
	display:inline-block;
	color:#FFFFFF;
	text-decoration:none;
	font-size:14px;
}
div#review_text{
	width:90%;
	display:inline-block;
	color:#000000;
	font-size:14px;
}
img#review_img{
	position:absolute;
	top:4px;
	right:5px;
}
a#no{
	cursor:pointer;
}
/*-----------------------------------------*/
/*---------------Pro Page------------------*/
div#pro_wrap, div#pro_text, div#pro_feature_wrap, div#pro_feature_text{
	float:left;
	width:100%;
}
div#pro_wrap{background:#ffffff;}
div#pro_feature_wrap{border:1px solid #000000; width:99.8%;margin-top:5px;}
div#pro_text{
	background:url(../images/pro_topbar.png) repeat-x left top;
	font-size:20px;
	padding:8px 0px;
	color:#000000;
	text-shadow:0 2px 0 #FFFFFF;
	margin-bottom:20px;
}
div#pro_feature_text{margin-top:20px;}
div#pro_feature_text a{
	background:url(../images/pro_redtitle.png);
	background-size:100% 100%;
	padding:10px 18px;
	padding-bottom:14px;
	color:#FFFFFF;
	text-decoration:none;
	cursor:default;
	font-size:16px;
	font-weight:bold;
}
div#pro_text, div#pro_feature_text{text-align:center;}
div.leftalign{float:left;}
div.rightalign{float:right;}
div.leftalign, div.rightalign{
	border-radius:8px; 
	box-shadow:2px 2px 3px #000000;
	display:inline-block;
	width:40%;
	margin:3% 5%;
	padding:0px 10px;
	height:150px;
}
div.leftalign{margin-right:0px;}
div.rightalign{margin-left:0px;}
div.leftalign span.title, div.rightalign span.title{
	font-size:25px;
	color:#000000;
	font-weight:bold;
	margin-bottom:10px;
	display:inline-block;
	margin-left:5px;
}
div#pro_featureWrap{float:left;width:100%;display:block;}
div.leftalign span.text, div.rightalign span.text{
	float:left;
	width:90%;
	margin-left:10%;
	font-size:15px;
}
div.leftalign img, div.rightalign img{margin-top:10px;}
div#pro_text span#img{background:url(../images/pro_notallow.png); width:16px; height:16px;display:inline-block; margin:0px 3px;}
div#pro_feature_1{background:url(../images/pro_box1.png) repeat-x left top;}
div#pro_feature_2{background:url(../images/pro_box2.png) repeat-x left top;}
div#pro_feature_3{background:url(../images/pro_box3.png) repeat-x left top;}
div#pro_feature_4{background:url(../images/pro_box4.png) repeat-x left top;}
div#pro_feature_5{background:url(../images/pro_box5.png) repeat-x left top;}
div#pro_feature_6{background:url(../images/pro_box6.png) repeat-x left top;}
div#pro_feature_7{background:url(../images/pro_box7.png) repeat-x left top;}
div#pro_feature_8{background:url(../images/pro_box8.png) repeat-x left top;}
div#pro_feature_9{background:url(../images/pro_box1.png) repeat-x left top;}
div#pro_feature_10{background:url(../images/pro_box2.png) repeat-x left top;}
div#pro_feature_11{background:url(../images/pro_box3.png) repeat-x left top;}
div#pro_feature_12{background:url(../images/pro_box4.png) repeat-x left top;}
div#pro_feature_13{background:url(../images/pro_box5.png) repeat-x left top;}
div#pro_feature_14{background:url(../images/pro_box6.png) repeat-x left top;}
div#pro_feature_15{background:url(../images/pro_box7.png) repeat-x left top;}
div#pro_feature_16{background:url(../images/pro_box8.png) repeat-x left top;}
div#pro_feature_17{background:url(../images/pro_box1.png) repeat-x left top;}
div#pro_feature_18{background:url(../images/pro_box2.png) repeat-x left top;}
div#pro_feature_19{background:url(../images/pro_box3.png) repeat-x left top;}
/*-----------------------------------------*/
